<style>


.lineButtom {
    border-bottom: 0.15em solid #4d96e4;
}

a {
    color: inherit;
    text-decoration: none;
}
</style>
<template>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-12 text-center text-md-left mt-5">
                <img
                    class="avatar_image border"
                    :src=" user.image || '/logo/logo.png'"
                    alt=""
                />
                <h3 class="weight300 font175">
                    {{ user.firstname }} {{ user.lastname }}
                </h3>
                <div v-if="getUser&&getUser.id==user.id" class="">
                    <router-link to="/settings" class="btn testBtn ">تعديل الملف الشخصي</router-link>
                </div>
            </div>

            <div class="col-md-9 col-12 text-center text-md-left  mt-5">
                <div>
                    <div class="font11">
                        <router-link :to="{ name: 'profileTestResult' }">
                            <span
                                class="pointer weight300  mr-4 "
                                @mouseover="
                                    e => {
                                        e.target.classList.add('lineButtom');
                                    }
                                "
                                @mouseleave="
                                    e => {
                                        e.target.classList.remove('lineButtom');
                                    }
                                "
                            >النشاط الاخير</span ></router-link>
                        <router-link :to="{ name: 'createdTests' }">
                            <span
                                class="pointer weight300  mr-4 "
                                @mouseover="
                                    e => {
                                        e.target.classList.add('lineButtom');
                                    }
                                "
                                @mouseleave="
                                    e => {
                                        e.target.classList.remove('lineButtom');
                                    }
                                "
                            >اختباراتي</span
                            >
                        </router-link>
                    </div>
                    <hr/>

                    <router-view

                        :key="$route.path"
                        :tests="tests"
                        :sessions="sessions"
                    ></router-view>

                    <div v-if="spinner" class="text-center mt-2  ">
                        <div class="spinner-grow" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>

</template>
<script>
import axios from "axios";
import {mapGetters} from "vuex";

export default {
    data() {
        return {
            user: {},
            tests: [],
            sessions: [],
            noTests: false,
            spinner: true
        };
    },
    computed: {
        ...mapGetters("auth", ["getUser"])
    },
    methods: {

        async getUserById() {
            const response = await axios.get(
                "/api/profile/" +
                this.$route.params.user_id
            );
            let responseData = response.data;
            console.log(responseData)
            this.user = responseData;
            this.spinner = false;
            this.noTests = (this.tests.length > 0) ? false : true;
            this.tests.map(el => el.user = this.user);
        },
        async getUserTests() {
            const response = await axios.get(
                "/api/tests/?user_id=" + this.$route.params.user_id
            );
            this.tests = response.data.data
            console.log(this.tests )

        },
        async getUserTestSessions() {
            const response = await axios.get(
                "/api/testSessions/paginate/?user_id=" + this.$route.params.user_id
            );
            this.sessions = response.data.data;
            console.log(this.sessions)

        }
    },


    beforeMount() {
        this.getUserById();
        this.getUserTestSessions();
        this.getUserTests();
    }
};
</script>
