<template>
    <div>
        <button @click="clickFunction" class="btn testBtn">
            <div v-if="spinner" class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            {{ text }}
        </button>
    </div>
</template>
<script>

export default {
    props: ['text', 'click','spinner'],

    methods: {
          clickFunction() {
               this.click()
          }
    }

}
</script>
