<template>
<div>
          <section id="welcome">
            <div class="container pt-md-5">
                <div id="welcomeContent" class="pt-md-5 pt-1">
                    <div class="row  text-light">
                        <div class="col-12 col-sm-6">
         
    <pre
        class="  text-light text-left codeBackground"
                            ><code class="">
	<span class="codeText">def</span> <span class="functionColor">Fibonacci</span>(n):
		<span class="codeText">if</span> n <=0:
		<span class="codeText">elif</span> n==1:
			<span class="codeText">return</span> 0
		<span class="codeText">elif</span> n==2:
			<span class="codeText">return</span> 1
		<span class="codeText">else</span>:
			<span class="codeText">return</span> Fibonacci(n-1)+Fibonacci(n-2)
		print(Fibonacci(9)) 
	</code>
</pre>
                        </div>

                        <div class="col-12 col-sm-6 text-right">

                                <div class="col-12">
                                    <h4 class="font175 weight300 ">
                                          أهلا وسهلا بكم في QuizzHunter HR
                                        </h4>
                                        <h4 class="font11 weight300">
                                  
أفضل طريقة لتجهز نفسك لمقابلة عمل. اختبر نفسك , وان كنت مؤهلا بما يكفي, أنشأ اختبار وكن جزئا من مجتمع المبرمجين العرب وساهم في تطويره
                                        </h4>

                                </div>

                             
                            <div class=" row float-right mb-5">
                                <div class="mt-5  col-12  col-lg-6">
                                                    <router-link    
                                                    style="text-decoration: none;" 
                                                    :to="{name:'fortestcreators'}">
                                                    <span class="    buttonTry padding buttonAreyouTeacher rtl">هل انت صانع محتوى؟</span>
                                                    </router-link>  
                                    </div>


                                        <div class="mt-5  col-12 col-lg-6">  <router-link   
                                                    style="text-decoration: none;" 
                                                    :to="{name:'tests'}">
                                                    <span class="buttonTry padding" >تصفح الاختبارات</span>
                                                    </router-link> 
                                     </div>
                            </div>
                                  
                        </div>
                           
                    </div>
                </div>
            </div>
        </section>

        <div id="line"></div>
</div>
</template>