<template>
    <div>
        <div
            id="comments"
            class="mt-3 mb-2 rtl"
            v-for="comment in comments"
            :key="comment.id"
        >
                <Comment :comment="comment"></Comment>

        </div>
    </div>
</template>

<script>
import Comment from "./comment";
export default {
    components:{
        Comment
    },
    props:['comments'],
}
</script>
