<template>
    <div class="bg-white shadowBox col-12 col-md-8 text-right">
        <p class="pt-2">
            <img
                :src="comment.user.image || '/logo/logo.png' "
                class="profilePic"
                alt=""
            />
            <b
            >
                <router-link class="noAstyle" :to="{
                                        name: 'profile',
                                        params: { user_id: comment.user.id }
                                    }
                                    ">
                    {{ comment.user.firstname }}
                    {{ comment.user.lastname }}
                </router-link>

            </b
            >
            <a class="float-left pointer b" @click="initReplayinput(comment.user)">رد</a>

        </p>
        <div class="pb-2">{{ comment.comment }}</div>
        <!--        Tagging users-->
        <div class="p-2 row">
            <div v-for="user in tagging">
                <span class="badge badge-primary"><span class="pointer text-dark" @click="unSetTaggingUser(user)">x</span>@{{ user.firstname }}</span>
            </div>
        </div>
        <!--        end Tagging users-->

        <div class="p-1 row">
            <form v-on:submit.prevent="replyComment(comment.id)" class=" w-100 " v-if="showReplyInput">
                <div class="input-group ">
                    <input type="text" class="p-2 form-control" aria-describedby="basic-addon1" v-model="inputComment">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="submit">علق</button>
                    </div>
                </div>
            </form>
        </div>

        <!--        Sub Comments-->
        <div class="p-3 mr-5">

            <div
                class="mt-1  mb-2 rtl"
                v-for="replayComment in comment.comments"
                :key="replayComment.id"
            >
                <SubComment :replayComment="replayComment" :setTaggingUser="setTaggingUser"></SubComment>

            </div>

        </div>
        <!--        end sub comments-->

    </div>

</template>

<script>
import axios from "axios";
import SubComment from "./sub-comment"

export default {
    components: {SubComment},
    props: ['comment'],
    data() {
        return {
            showReplyInput: false,
            inputComment: null,
            replayComments: this.comment.comments,
            tagging: []
        }
    },
    methods: {

        replyComment(commentId) {
            axios
                .post("/api/comments", {
                    test_id: this.$route.params.test_id,
                    comment: this.inputComment,
                    comment_id: commentId,
                    tagging: this.tagging.map(e=>e.id)
                })
                .then(response => {
                    this.unshitReplayComment(response.data);
                    this.inputComment = null;
                });
        },

        initReplayinput(user) {
            this.showReplyInput = !this.showReplyInput;
            this.tagging = [];
            if (this.showReplyInput) {
                this.setTaggingUser(user);
            }
        },

        setTaggingUser(user) {
             let exist = this.tagging.map(e=>{return e.id === user.id} );
               if(!exist.length){
                   this.tagging.push(user);
               }

        },

        unSetTaggingUser(user) {
                this.tagging.splice(this.tagging.indexOf(user), 1);
        },

        unshitReplayComment(comment) {
            this.replayComments.unshift(comment);
        }
    }

}
</script>
