<template>

  <div class="    w-75  text-right">

    <p class="pt-2">

      <b
      >
        <router-link class="noAstyle" :to="{
                                        name: 'profile',
                                        params: { user_id: replayComment.user.id }
                                    }
                                    ">
          {{ replayComment.user.firstname }}
          {{ replayComment.user.lastname }}
        </router-link>

      </b>
    </p>
    <div class="pb-2">{{ replayComment.comment }}</div>
    <div>
      <span class="pointer text-primary" @click="setTaggingUser(replayComment.user)">رد</span>
    </div>
  </div>

</template>

<script>
export default {
  props: ['replayComment','setTaggingUser'],

}
</script>
