<template>
    <div
        class="mt-3 mb-2 rtl"
        v-for="comment in replayComments"
        :key="comment.id"
    >
        <SubComment :comment="comment"></SubComment>

    </div>
</template>
<script>
import SubComment from "./sub-comment"

export default {
    props: ['replayComments'],
    components: {
        SubComment
    },
}
</script>
