<style>

.height500px {
    min-height: 1000px;;
}

#navbar {
    background: #24292e;
}

#welcome {
    margin-top: 0px;
    background: url(/background/background.svg), #2b3137;
    background-position: center 10%;
    background-size: cover;
    height: 450px;
}

/* background: url(https://cdn.proghub.ru/home/background.svg), #2b3137; */

.font175 {
    font-size: 1.75em;
}

.font11 {
    font-size: 1.1em;
}

.weight300 {
    font-weight: 300;
}


#line {
    background: transparent linear-gradient(117deg, var(--blue), var(--cyan), var(--blue)) repeat scroll 0 0/200% 200%;
    padding-top: 0.75em;
}

.imgAbout {
    height: 122px;
    width: 200px;
}

.ranbow_badge {
    background: linear-gradient(90deg, #3a6186, #89253e);
}

#bestRating {
    margin-top: 0px;
    background: url(/background/background.svg), #2b3137;
    background-position: center 10%;
    background-size: cover;
    height: 500px;
}

/* background: url(https://cdn.proghub.ru/home/background.svg), #2b3137; */

.bestRatingColor {
    background-color: rgba(0, 0, 0, 0.2);
}

.avatar_image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: var(--best-border);
}

@media (min-width: 481px) and (max-width: 767px) {

    .centerCards {
        margin-left: 22%;


    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .centerCards {
        margin-left: 40%;

    }

}

.generalfont {
    font-family: 'Tajawal', sans-serif;

}

#website {
    margin-bottom: 60px;
}
</style>

<template>
    <div>

        <navigator></navigator>

        <div id="website">
            <router-view></router-view>
        </div>

        <mobileFooter v-if="!this.$device.windows" :getUser="getUser"></mobileFooter>

    </div>
</template>

<script>
import {mapGetters, mapActions} from "vuex";

import mobileFooter from './components/mobile/mobile-footer';

export default {

    components: {mobileFooter},
    computed: {
        ...mapGetters('auth', ['getUser']),
    },
    methods: {
        ...mapActions("auth", ["getUserData"]),
        ...mapActions("notifications", ["increaseUnreadNotificationCount", "getUnreadNotificationsCount"]),
        setMobileFooter(index) {
            this.ActiveMobile = index;
        },

        popupNotification(data) {

            this.$notify({
                    group: "errors",
                    text: ` <div class='text-right p-2'>
                            <b class=' rtl' >${data}</b>

                            </div>`,

                    position: "bottom right",
                    classes: ['bg-danger', 'p-4', 'text-right']

                }

            );
        }
    },
    mounted() {
        if (localStorage.getItem('authToken')) {

            this.getUserData()
                .then(() => {
                    this.getUnreadNotificationsCount();
                }).then(() => {
                Echo.private('App.Models.User.' + this.getUser.id)
                    .notification((notification) => {
                        this.increaseUnreadNotificationCount();
                        // this.popupNotification(notification)
                        this.successHandler(notification.message)
                    });

            });
        }
    }
}
</script>
