
<template>
    <div class="container height500px">
        <h2 class="text-center mt-2">شارك في تطوير المجتمع العربي</h2>
        <div class="rtl text-right pt-5 ">
            <h3 class="weight300">هل انت صانع محتوى؟</h3>
            <p>
                في حال كنت صانع محتوى تعليمي , تستطيع انشاء اختبار مدفوع أو مجاني على موقع
                QuizzHunter وارفاق الفيديو الخاص بالأختبار من اليوتيوب.
            </p>
            <p>بهذه الطريقة , ستستطيع التعامل مع متابعيك بشكل اقرب, وافضل. وتلقي الدعم المادي منهم , وسيزيد من نتيجة الدروس التي تنشأها.</p>
            <p>في حال كانت دروسك ذو جودة عالية, سيزيد من زياراتك على القناة من رواد هذا الموقع</p>
            <div class="mt-4">
                  <img class="w-75" src="/fortestcreators/testpage.PNG" alt="" />
            </div>

            <div class="mt-4">
                <h3 class="weight300">كيف تنشأ اختبار وترفق الدرس؟</h3>
            </div>



            <ul class="mt-2">
                <li><div class="mt-3">
                <router-link :to="{name:'addTest'}"><button class="buttonTry">انشاء اختبار</button></router-link>

            </div>
            </li>
                <li class="mt-2">
                    1-اضغط على زر, اضافة فيديو يوتيوب , ثم انشأ الاختبار
                </li>
                <li>
                    2-سيتوجب عليك تكمله الاختبار بالأسألة, ثم اطلاق الاختبار
                </li>
                <li>
                    2-تستطيع وضع 10 اسألة مثلا, وتحديد 5 فقط خلال الاختبار, حتى تظهر اسألة عشوائية في كل مرة
                </li>
                 <li>
                    3-انشر الاختبار او ارفقه في الوصف على درس اليوتيوب بتعديل الفيديو الاصلي
                </li>
            </ul>
        </div>
    </div>
</template>
