<template>
    <div class="container">

        <div class="row">


            <div v-if="draftTests.length>0" class="draft col-md-5 col-12">
                <h2 class="text-right">الاختبارات المعلقة</h2>
                <div
                    class="bg-white  form-inline p-3 shadowBox mb-2"
                    v-for="(test, index) in draftTests"
                    :key="test.id"
                >

                    <li class="col-4">{{ test.category.category }}</li>
                    <li class="col-2">{{ test.level.level }}</li>
                    <li class="col-3">{{ test.second_per_question }}s</li>

                    <li class="col-1">
                    <span
                        class="badge-danger badge pointer"
                        v-on:click="deleteDraftTest(test.id, index)"
                    >X</span
                    >
                    </li>

                    <li class="col-2">
                        <router-link
                            :to="{
                            name: 'addQuestion',
                            params: { test_id: test.id }
                        }"
                        >أضافة اسألة
                        </router-link
                        >
                    </li>
                </div>
            </div>

            <div class="  col-md-7 col-12"
                 :class="draftTests.length>0 ? '' :'col-md-12'">
                    <TestForm
                        :details="this.details"
                         :error="this.error"
                        :postFunction="this.createTest"
                    ></TestForm>

            </div>
        </div>
    </div>

</template>

<script>
import axios from "axios";
// import {mapGetters, mapActions} from "vuex";
import InvalidFeedback from "../ux-ui/errors/invalid-feedback";
import TestForm from "./components/testForm";

export default {
    components: {
        InvalidFeedback,TestForm
    },
    data() {

        return {
            error: {},
            details: {
                level: null,
                title: null,
                description: null,
                category: null,
                second_per_question: null,
                questions_per_session: null,
                video: null,
                price: null
            },
            testDraft: {
                id: 123123,
                category: {category: 'draft', image: '/logo/logo.png'},
                level: {level: 'draft'},
                totalRate: 0,
                published: 0


            },
            draftTests: []
        };
    },
    methods: {
        // ...mapActions("categories", ["getHttpCategories"]),
        // ...mapActions("levels", ["getHttpLevels"]),
        createTest(data) {
            axios
                .post("/api/tests", data)
                .then(response => {
                    console.log(response.data);
                    this.$router.push({
                        name: "addQuestion",
                        params: {test_id: response.data[0].id}
                    });
                    // this.appendNewDraftTest(response.data[0]);
                    this.details = {};
                }).catch((error) => {
                this.error = {...error.response.data.errors};
            });
        },

        getDraftTest() {
            axios
                .get("/api/tests/getDraftTests")
                .then(response => {
                    this.draftTests = response.data;
                })
                .catch(err => {
                });
        },
        appendNewDraftTest(newTest) {
            this.draftTests.unshift(newTest);
        },
        deleteDraftTest(test_id, index) {
            axios
                .delete("/api/tests/deleteDraftTest/" + test_id)
                .then(response => {
                    this.draftTests.splice(index, 1);
                })
                .catch(err => {
                });
        }
    },
    computed: {
        // ...mapGetters("categories", ["getCategories"]),
        // ...mapGetters("levels", ["getLevels"])
    },
    mounted() {
        // this.getHttpCategories();
        // this.getHttpLevels();
        this.getDraftTest();
    },
    created() {
    }
};
</script>
