<style>


body {
    background-color: #f7f8fa;
}

.sessionSection {
    margin-bottom: 50px;
}

.pointer {
    cursor: pointer;
}

.code {
    background-color: #2b3137;
}


.primaryBlueBackground {
    background-color: #4d96e4;
    color: white;
}
</style>
<template>
    <div class="sessionSection">
        <div class="container pt-3">
            <div class="row">
                <div class="col-6">
                    <h2 class="font175">
                        {{ session.test.category.category }}
                    </h2>
                </div>
                <div class="col-6">
                    <h2 class="font175 text-right">{{ timeString }}</h2>
                </div>
            </div>
            <hr/>


            <div id="question">
                <p class="lightfont">question {{ currentQuestion + 1 }}/{{ sessionQuestions.length }}</p>
                <p class="font175 text-right rtl">{{ sessionQuestions[currentQuestion].question.question }}</p>

                <div class="code" v-if="sessionQuestions[currentQuestion].question.code">
                    <!-- <p class="text-white p-3">
                        {{sessionQuestions[currentQuestion].question.code}}
                    </p> -->
                    <pre><p class="text-white p-3">{{ sessionQuestions[currentQuestion].question.code }}</p></pre>
                </div>

                <div id="answers">
                    <div
                        v-for="answer in sessionQuestions[currentQuestion].question.answers"
                        class="bg-white  shadowBox pointer answer rtl "
                        v-on:click="(e)=>chooseAnswer(e,answer.id)"
                        :key="answer.id"
                    >
                        <p class="p-4">{{ answer.answer }}</p>
                    </div>


                </div>

                <div class="text-right">
                    <button class="btn primaryBlueBackground" v-on:click="answerQuestion">Answer</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from "axios";

export default {
    data() {
        return {
            session: {},
            timeInteger: 0,
            timeString: "00:00:00",
            sessionQuestions: [],
            currentQuestion: 0,
            choosenAnswers: [],
            interval: null
        };
    },

    methods: {
        chooseAnswer(e, answerId) {
            if (e.target.classList.contains("primaryBlueBackground")) {
                e.target.classList.remove("primaryBlueBackground");
                let index = this.choosenAnswers.indexOf(answerId);
                this.choosenAnswers.splice(index, 1);
            } else {
                this.choosenAnswers.push(answerId);

                e.target.classList.add("primaryBlueBackground");
            }
        },
        getTestSession() {
            axios
                .get("/api/testSessions")
                .then(response => {
                    if (response.status == 200) {
                        this.session = response.data.session;
                        this.timeInteger = response.data.timeInteger;
                        this.timeString = response.data.timeString;
                        this.sessionQuestions = response.data.session.session_questions.filter((el) => {
                            return !el.answered
                        });
                        if (this.sessionQuestions.length == 0) {
                            this.$router.push({path: "/result/" + this.session.id});
                        }
                        this.setTimer();


                    }
                })
                .catch(err => {
                    alert(err)
                    this.$router.push({name: "tests"});
                });
        },
        setTimer() {
            this.interval = setInterval(() => {

                this.timeInteger = this.timeInteger - 1;
                if (this.timeInteger < 0) {
                    this.finishSessionLocaly();
                }
                this.timeString = new Date(this.timeInteger * 1000)
                    .toISOString()
                    .substr(11, 8);
            }, 1000);
        },

        async answerQuestion() {
            let question = this.sessionQuestions[this.currentQuestion].id;
            if (this.choosenAnswers.length <= 0) {
                return;
            }
            let response = await axios.post('/api/testSessions/answerQuestion', {
                session_question_id: question,
                answer_ids: this.choosenAnswers
            });
            if (response.status == 200) {
                this.moveToNextQuestionOrRedirect();
            }

        },
        moveToNextQuestionOrRedirect() {
            this.choosenAnswers = [];
            this.currentQuestion++;
            if (!this.sessionQuestions[this.currentQuestion]) {
                this.finishSessionLocaly();
            } else {
                console.log('IS EXIST')

            }
        },
        finishSessionLocaly() {

            clearInterval(this.interval);
            if (this.$router.currentRoute.name == "session") {
                this.$router.push({path: "/result/" + this.session.id});
            }

        }

    },
    mounted() {
        this.getTestSession();
    }
};
</script>
