<style>
.blackBackground {
    height: 300px;
    background: url(https://cdn.proghub.ru/home/background.svg), #2b3137;
}

.font400 {
    font-weight: 400;
}

li {
    list-style-type: none;
}

.lightfont {
    font-weight: lighter;
}

.cardImage {
    text-align: center;
    padding: 0.5em;
    border-bottom: 1px solid rgb(204, 192, 192);
}

.grayBackground {
    background-color: #f7f8fa;
    min-height: 400px;
}

#testInfo {
    margin-top: -200px;
    width: 400px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    max-height: 500px;
}

.testBtn {
    background-color: #4d96e4;
    color: white;
}

.shadowBox {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.profilePic {
    width: 30px;
    border-radius: 4px;
}

.border1px {
    border: 1px solid rgb(204, 192, 192);
}

.secondaryBackgroundColor {
    background-color: #009c6b;
    color: white;
}

.smallGray {
    color: #848484;
    font-size: 80%;
    font-weight: 500;
}
</style>

<template>
    <div>
        <div class="blackBackground">
            <div class="container">
                <div class="text-right">
                    <div class="col-12 pt-5">
                        <h1 class="text-light font400">
                            {{ test.category.category }}
                        </h1>
                        <span class="badge ranbow_badge text-white ">{{
                                test.level.level
                            }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="grayBackground ">
            <div class="container">
                <div class="row">


                    <div id="testInfo" class="float-right col-md-4 col-12 ">
                        <div class="cardImage pl-3 pr-3">
                            <img
                                :src="test.category.image"
                                alt=""
                                class="img"
                            />
                        </div>
                        <div class="p-3 rtl">
                            <li class="lightfont">
                                {{ test.category.category }}
                                <span class="float-right ">الفئة:</span>
                            </li>
                            <li class="lightfont">
                                {{ test.level.level }}
                                <span class="float-right"> الصعوبة:</span>
                            </li>
                            <li class="lightfont">
                                {{ test.questions_per_session || test.questions_count }}
                                <span class="float-right">عدد الاسألة:</span>
                            </li>
                            <li class="lightfont">
                                {{
                                (test.questions_per_session || test.questions_count) *
                                test.second_per_question
                                }}
                                ث
                                <span class="float-right"> الوقت المحدد:</span>
                            </li>
                            <li class="lightfont">
                                <router-link
                                    :to="{
                                        params: { user_id: test.user.id },
                                        name: 'profile'
                                    }"
                                >{{
                                    test.user.firstname + ' ' + test.user.lastname
                                    }}
                                </router-link
                                >
                                <span class="float-right">الكاتب:</span>
                            </li>


                            <li v-if="test.price" class="lightfont">
                                <span class="testBtn badge">{{ test.price }} $</span>
                                <span class="float-right">قيمة الاختبار:</span>
                            </li>


                        </div>
                        <div class=" text-center">
                            <span class="smallGray"> (اختبر {{ test.sessions_count }} مرة) </span>

                        </div>
                        <div class="pl-1 pr-1 pb-2 ">

                            <button
                                class="btn testBtn form-control   mb-1"
                                v-if="startSessions"
                                v-on:click="createTestSession"
                            >
                                <p class="text-light">اختبر الان</p>
                            </button>
                            <!--   -->
                            <router-link :to="{ name: 'session' }">
                                <button
                                    v-if="goingSession"
                                    class="btn secondaryBackgroundColor text-light form-control mb-1"
                                >
                                    اكمال الاختبار السابق
                                </button>
                            </router-link>

                            <div v-if="error" class="rtl text-warning text-right">
                                {{ error }}
                            </div>

                            <div v-if="paypalButton" class="">
                                <div id="paypal-button"></div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-8 col-12">
                        <div class="p-4 rtl">
                            <p class="text-right">{{ test.description }}</p>
                        </div>


                        <div class=" " v-if="test.video">
                            <iframe class="col-12" height="315" :src="'https://www.youtube.com/embed/'+test.video"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>

                        <div id="bestInMonth">
                            <h1
                                class="font175 weight300 text-right"
                                v-if="bestIn30Days.length > 0"
                            >
                                الافضل اخر 30 يوما
                            </h1>
                            <div
                                class="bg-white  form-inline p-3 shadowBox mb-2"
                                v-for="(session, index) in bestIn30Days"
                                :key="session.id"
                            >
                                <li class="col-md-2 col-1">{{ medals[index] }}</li>
                                <li class="col-md-4 col-5">
                                    <router-link :to="{name:'profile',params:{user_id:session.user.id}}"> {{
                                        session.user.firstname + ' ' +
                                        session.user.lastname
                                        }}
                                    </router-link>
                                </li>
                                <li class="col-md-2 col-2">
                                    {{ session.totalPoints }}/{{
                                    session.session_questions_count
                                    }}
                                </li>
                                <li class="col-md-2 col-1">{{ session.inTime }}s</li>
                                <li class="col-md-2 col-1">10xp</li>
                            </div>
                        </div>

                        <div id="lastSessions " class="">
                            <div class="rtl">
                                <h1
                                    v-if="lastSessions.length > 0"
                                    class="font175 weight300 text-right "
                                >
                                    اخر المختبرين
                                </h1>
                            </div>
                            <div
                                class="bg-white  form-inline p-3 shadowBox mb-2"
                                v-for="session in lastSessions"
                                :key="session.id"
                            >
                                <li class="col-md-4 col-5">
                                    <router-link :to="{name:'profile',params:{user_id:session.user.id}}"> {{
                                        session.user.firstname +
                                        session.user.lastname
                                        }}
                                    </router-link>
                                </li>
                                <li class="col-md-3 col-2 ">
                                    {{ session.totalPoints }}/{{
                                    session.session_questions_count
                                    }}
                                </li>
                                <li class="col-md-3 col-3">
                                    {{
                                    session.created_at.substr(
                                    0,
                                    session.created_at.indexOf("T")
                                    )
                                    }}
                                </li>
                                <li class="col-md-2 col-2">
                                    <span
                                        class="badge-success badge"
                                        v-if="
                                            session.totalPoints /
                                                session.session_questions_count >=
                                                0.5
                                        "
                                    >✓</span
                                    >
                                    <span class="badge-danger badge" v-else
                                    >X</span
                                    >
                                </li>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="mb-2 rtl">
                    <h2 class="font175 weight300 text-right">التقييمات</h2>
                    <div class="col-md-8 col-12 border1px  pb-4 pl-3 pr-3 pt-2">
                        <textarea
                            name=""
                            id=""
                            cols="30"
                            class="form-control "
                            rows="5"
                            v-model="inputComment"
                        ></textarea>
                        <div class="text-right">
                            <button class="btn " v-on:click="createComment">
                                علق
                            </button>
                        </div>
                    </div>

<!--                    comments-->
                    <Comments :comments="comments" ></Comments>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from "axios";
import {mapGetters} from "vuex";
import Comments from "../comments/comments";

export default {
    components:{
        Comments
    },
    computed: {
        ...mapGetters("auth", ["getUser"])
    },
    data() {
        return {
            test: {
                category: {category: null, image: null},
                description: null,
                level: {},
                is_owner: null
            },
            comments: [],
            inputComment: null,
            medals: ["🥇", "🥈", "🥉"],
            bestIn30Days: [],
            lastSessions: [],
            goingSession: false,
            error: null,
            startSessions: true,
            paypalButton: true

        };
    },

    methods: {
        paymentSuccess() {
            this.startSessions = true;
            this.paypalButton = false;
            this.$toast.success("تم الشراء بنجاح, شكرا", {
                position: "top-right",
                timeout: 6883,
                closeOnClick: true,
                pauseOnFocusLoss: true,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 0.31,
                showCloseButtonOnHover: false,
                hideProgressBar: false,
                closeButton: false,
                icon: true,
                rtl: true
            });
        },
        getTestInfo() {


            axios
                .get("/api/tests/" + this.$route.params.test_id)
                .then(response => {
                    this.test = response.data.data;
                    this.is_owner = response.data.is_owner;
                    this.comments = this.test.comments;

                    if (!this.shouldLoadPaypal()) {
                        return;
                    }
                    // this.startSessions = false;

                    //load paypal
                    Vue.loadScript("https://www.paypalobjects.com/api/checkout.js").then(() => {
                        paypal.testId = this.test.id;
                        paypal.paymentSuccess = () => this.paymentSuccess();
                        paypal.Button.render({
                            env: 'production', // Or 'production'.
                            style: {
                                size: 'responsive'
                            },
                            payment: function (data, actions) {
                                return axios.post('/api/create-payment/', {test_id: paypal.testId})
                                    .then(res => {
                                        return res.data.id;
                                    }).catch((response) => {
                                        let error = response.response.data.errors;
                                        let errors = typeof error === 'object' ? Object.values(error).join('<br>') : error;
                                        alert(errors);

                                    });
                            },
                            onAuthorize: function (data, actions) {
                                return axios.post('/api/execute-payment/', data)
                                    .then(res => {
                                        paypal.paymentSuccess();

                                    });
                            }
                        }, '#paypal-button');

                    });


                }).catch(e => {
                this.$router.push({name: "notfound"})
            });
        },
        shouldLoadPaypal() {
            if (
                this.test.price === 0
                || this.test.purchases_by_user_count > 0
                || !localStorage.getItem('authToken')
                || this.is_owner
            ) {
                return false;
            }
            return true;
        },
        getBestUsers() {
            axios
                .get("/api/testSessions/best-users/" + this.$route.params.test_id)
                .then(response => {
                    this.bestIn30Days = response.data;
                }).catch(e => {

            });
        },
        getUsersResult() {
            axios
                .get("/api/testSessions/get-users-result/" + this.$route.params.test_id)
                .then(response => {
                    this.lastSessions = response.data;
                }).catch(e => {

            });
        },
        getCurrentSession() {
            axios
                .get("/api/testSessions/current-session-exist")
                .then(response => {
                    this.goingSession = response.data;
                }).catch(e => {

            });
        },

        createTestSession() {
            if (!localStorage.getItem("authToken")) {
                this.$router.push({name: "register", query: {redirect: this.$route.path}});
                return;
            }
            axios
                .post("/api/testSessions", {
                    test_id: this.$route.params.test_id,
                    devices: this.$device
                })
                .then(response => {
                    if (response.status == 200) {
                        this.$router.push({name: "session"});
                    }
                }).catch(response => {
                this.error = response.response.data.error;
                this.handleError(response.response.data.errors);
            });
        },
        createComment() {
            axios
                .post("/api/comments", {
                    test_id: this.$route.params.test_id,
                    comment: this.inputComment,
                })
                .then(response => {
                        this.unshiftComment(response.data);
                        this.inputComment = null;
                });
        },

        unshiftComment(comment) {
            this.comments.unshift(comment);

        }

    },

    created() {

    },
    mounted() {

        this.getTestInfo();
        this.getBestUsers();
        this.getCurrentSession();
        this.getUsersResult();

    }
};
</script>
