<style >
.backgroundColorDark{
    background-color: black;
}
</style>
<template>
    <div class="fixed-bottom bg-dark ">
        <div class="d-flex bd-highlight   text-center"  >

        
                <router-link    class="p-3  flex-fill bd-highlight"   style="text-decoration: none;" to="/" 
                    ><i class="fas text-white fa-home"></i
                ></router-link>
               
         

                   <!-- <router-link v-else  class="p-3  flex-fill bd-highlight" style="text-decoration: none;" :to="{name:'tests'}" 
                    ><i class="fas text-white fa-home"></i
                ></router-link> -->

                  <router-link style="text-decoration: none; "  class="p-3    flex-fill bd-highlight"    :to="{name:'tests'}"
                    ><i class="fas text-white fa-paste"></i
                ></router-link>
      

                 <router-link  class="p-3  flex-fill bd-highlight"   style="text-decoration: none;"  :to="{name:'addTest'} "
                    ><i class="fas text-white fa-plus-circle"></i
                ></router-link>
   
          
      
            

                <router-link  class="p-3  flex-fill bd-highlight "  v-if="getUser" style="text-decoration: none;"    :to="{name:'profile',params:{user_id:getUser.id}}"
                    ><i class="fas text-white fa-user-alt"></i
                ></router-link>

                 <router-link v-else style="text-decoration: none;"  class="p-3  flex-fill bd-highlight"     :to="{name:'login'}"
                    ><i class="fas text-white fa-user-alt"></i
                ></router-link>

           
            <!-- <div class="p-2  flex-fill bd-highlight">
                <router-link style="text-decoration: none;" to="/"
                    ><i class="fas text-white fa-cog"></i
                ></router-link>
            </div> -->
        </div>
    </div>
</template>
<script>
export default {
 data(){
    
 },
    props:['getUser'],
 
  methods:{
      changeBackGroundColor(e){

       for (const property in this.$refs) {
               this.$refs[property].classList.remove('backgroundColorDark')
        }

         this.$refs[e].classList.add('backgroundColorDark')
 
       
      }
  }
}
</script>