<template>
    <div class="container">


            <div class="mt-5 text-right rtl" >
                <h3>اتصل بنا</h3>
                <div class="form-group">
                    <label for="">الاسم</label>
                    <input type="text" class="form-control" v-model="form.name" :class="error.name ? 'is-invalid' : ''">
                       <div class="invalid-feedback">
                        {{ error.name && error.name.join(" , ") }}
                    </div>
                </div>

               <div class="form-group">
                    <label for="">الايميل</label>
                    <input type="email" class="form-control" v-model="form.email" :class="error.email ? 'is-invalid' : ''">
                    <div class="invalid-feedback">
                        {{ error.email && error.email.join(" , ") }}
                    </div>
                </div>


                 <div class="form-group">
                    <label for="">رسالتك</label>
                    <textarea name="" id="" cols="30" rows="10" class="form-control" v-model="form.text" :class="error.text ? 'is-invalid' : ''"></textarea>
                     <div class="invalid-feedback">
                        {{ error.text && error.text.join(" , ") }}
                    </div>
                </div>

                <button class="btn buttonTry" @click="sendMessage">أرسل</button>
            </div>

       

    </div>
</template>
<script>
import Axios from 'axios'
export default {
    data(){
        return{
            form:{
                name:null,
                email:null,
                text:null
            },
            error:{}
        }
    },


    methods:{
        async sendMessage(){
          
            try{
            const response = await   Axios.post('/api/callus',this.form);
            } catch(error){
                 if (error.response.status == 401) {
                        this.error = { ...error.response.data.error };
                    }
             }   
          
        }
    }
}
</script>