<template>
    <div class="container">

        <div class="row">
            <div class="col-6">

                <div class="text-center mt-5">
                    <div class="p-5 bg-white">
                        <p>رصيدك</p>
                        <span class="h1 text-success">{{ this.amount }}$</span>
                        <p class="rtl ">يتم خصم مابين 2.7% و 3%و 30 سينت عمولة من بايبال  + عمولة سحب الارباح 2% من بايبال+ عمولة 8% عمولة quizzhunter</p>
                    </div>
                </div>

            </div>
            <div class="col-6">

                <div class="text-center mt-5">
                    <div class="p-5 bg-white">
                        <p>رصيدك المجمد </p>
                        <span class="h1 text-primary">{{ this.frozenCoins }}$</span>
                        <p class="  ">
                            بعد طلب السحب, يتم تجميد الرصيد بضع دقائق, الى ان تتم معالجة الطلب.
                        </p>
                    </div>
                </div>

            </div>

        </div>

        <div class="text-right mt-3">
            <!--            <button class="btn testBtn " @click="withdrawal">ارسال طلب سحب الرصيد</button>-->
            <SpinnerButton :click="withdrawal" text="ارسال طلب سحب الرصيد" :spinner="this.spinner"></SpinnerButton>
        </div>


        <div class="mt-2">
            <div
                class="bg-white  form-inline p-3 shadowBox mb-2"
                v-for="withdrawal in withdrawals"
                :key="withdrawal.id">
                <li class="col-md-4 col-5">
                    {{ withdrawal.status }}
                </li>

                <li class="col-md-4 col-2">
                    {{ withdrawal.amount }}$
                </li>
                <li class="col-md-4 col-5">
                    {{ withdrawal.created_at }}
                </li>
            </div>
        </div>


    </div>
</template>
<script>
import SpinnerButton from "../ux-ui/buttons/buttonWithSpinner";

export default {
    components: {
        SpinnerButton
    },
    methods: {
        getWallet() {
            axios.get('api/user/wallet').then((res) => {
                this.amount = res.data.coins;
                this.frozenCoins = res.data.frozen_coins;
            })
        },
        async withdrawal() {
            this.spinner = true;
                try{
                    let response = await axios.post('/api/withdrawal');
                    this.successHandler('تم ارسال طلب سحب, الرجاء الانتظار 24 ساعة');

                    this.getWallet();
                }catch(response) {
                    this.handleError(response.response.data.errors);
                }
            this.spinner = false;
        }

        ,
        getMyWithdrawal() {
            axios.get('/api/withdrawal').then(res => {
                this.withdrawals = res.data.data;
            });

        },

    },

    data() {
        return {
            amount: 0,
            frozenCoins: 0,
            withdrawals: [],
            spinner: false
        }
    },
    mounted() {
        this.getWallet();
        this.getMyWithdrawal();
    }
}
</script>
