<style>
.fail {
    background: repeating-linear-gradient(
        45deg,
        #a73a38,
        #a73a38 175px,
        #ef5350 0,
        #ef5350 750px
    );
}
.passed {
    background: repeating-linear-gradient(
        45deg,
        #47834a,
        #47834a 175px,
        #66bb6a 0,
        #66bb6a 750px
    );
}
.leaveCommentPassed{
        background:   #66bb6a ;
        color:white;
}
.leaveCommentFail{
        background:   #ef5350 ;
        color:white;
}
.badgeSuccess{
    background-color: #47834a;
}
.font3Weight400 {
    font-size: 3em;
    line-height: 100%;
    font-weight: 400;
    color: #4c4c4c;
}
.lightspan {
    font-weight: 400;
    font-size: 0.9em;
    color: #848484;
}

.correct {
    background: #94cf97;
    color: white;
}
.incorrect {
    background: #f48785;
    color: white;
}

.lineIncorrect {
    background: linear-gradient(45deg, #fff 95%, #f48785 0);
}
.lineCorrect {
    background: linear-gradient(45deg, #fff 95%, #94cf97 0);
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.ltr {
    direction: ltr;
}
.margindown{
    margin-bottom: 140px;
}
</style>
<template>
    <div class="container rtl margindown">
        <h3 class="mt-3 text-right">
            "{{ test.category.category }}: {{ test.level.level }}" نتائج
            الاختبار
        </h3>
        <div class="mt-4  text-white" :class="passed ? 'passed': 'fail'">
            <h2 class="text-center p-5">{{ resultText }}</h2>
        </div>

        <transition name="fade">
            <div id="rateTest" class="text-center ltr" v-if="showRating">
                <h2>ماهو تقييمك لهذا الاختبار؟</h2>
                <p>
                    <i class="text-secondary"
                        >الرجاء التقييم على اساس جودة الاسألة وصحتها, وليس على
                        اساس نتيجة اختبارك</i
                    >
                </p>

                <span
                    class="fa fa-star h3 pointer "
                    @mouseover="rateHover(rate)"
                    @mouseleave="rateHover(0)"
                    :class="rate <= rateHoverIndex ? 'checked' : ''"
                    v-for="rate in 5"
                    v-on:click="rateTest(rate)"
                    :key="rate"
                ></span>
            </div>
        </transition>

        <div class="text-center">
            <button class="btn leaveCommentPassed" v-on:click="showComment = !showComment" :class="passed ? 'leaveCommentPassed': 'leaveCommentFail'">
                اترك تعليقاً
            </button>
        </div>
        <transition name="fade">
            <div
                v-if="showComment"
                class="col-md-12 col-12 border1px float-cetner pb-4 pl-3 pr-3 pt-2"
            >
                <textarea
                    name=""
                    id=""
                    cols="30"
                    class="form-control rtl"
                    rows="4"
                    placeholder="التعليق سيظهر على صفحة الاختبار"
                    v-model="inputComment"
                ></textarea>
                <div class="text-right">
                    <button class="btn " v-on:click="createComment">
                        علق
                    </button>
                </div>
            </div>
        </transition>

        <h3 class="text-right">
            النتائج
        </h3>

        <div class="row">
            <div class="col-4">
                <p class="font3Weight400 text-center">{{ points }}</p>
                <p class="text-center lightspan">wining point</p>
            </div>
            <div class="col-4">
                <p class="font3Weight400 text-center">{{ percent }}%</p>
                <p class="text-center lightspan">percent</p>
            </div>
            <div class="col-4">
                <p class="font3Weight400 text-center">{{ marks }}</p>
                <p class="text-center lightspan">marks</p>
            </div>
        </div>

        <h3 class="mt-4 text-right">
            أجوبتك
        </h3>

        <div
            class="mt-5"
            v-for="(sessionQuestion,index) in questions"
            :key="sessionQuestion.id"
        >
            <div
                class="   shadowBox   answer "
                :class="
                    sessionQuestion.mark >= 0.5
                        ? 'lineCorrect'
                        : 'lineIncorrect'
                "
            >
                <div class="p-4 font11   rtl">
                    <b>#{{index+1}} {{ sessionQuestion.question.question }}</b>
                </div>
                   <div v-if="sessionQuestion.question.code"  class="code" >
                         <pre><p class="text-white p-3 ltr">{{ sessionQuestion.question.code }}</p></pre>
                </div>
            </div>
            <div
                class="   shadowBox   answer"
                v-for="answer in sessionQuestion.question.answers"
                :key="answer.id"
            >
                <div
                    class="p-4"
                    :class="[
                        sessionQuestion.session_answers.filter(
                            el => el.answer_id == answer.id
                        ).length > 0 && answer.correct
                            ? 'correct'
                            : '',
                        sessionQuestion.session_answers.filter(
                            el => el.answer_id == answer.id
                        ).length > 0 && !answer.correct
                            ? 'incorrect'
                            : ''

                    ]"
                >
                    {{ answer.answer }}
                            <div class="float-right">
                                                <span v-if="answer.correct" class="badge badgeSuccess text-white">✓</span>
                            </div>
                </div>

            </div>


            <div v-if="sessionQuestion.question.explanation" class="shadowBox answer rtl text-right">
               <div class="p-4">
                   <span class="badge badge-secondary"><i class="fas fa-exclamation "></i></span><span>شرح الاجابة</span>
                   <br>
                  {{sessionQuestion.question.explanation}}
               </div>
            </div>


        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    data() {
        return {
            test: {},
            session: {},
            questions: [],
            passed: null,
            resultText: null,
            marks: 0,
            percent: 0,
            points: 0,
            showRating: false,
            rateHoverIndex: 0,
            inputComment: null,
            showComment: false
        };
    },
    methods: {
        createComment() {
            axios
                .post("/api/comments", {
                    test_id: this.test.id,
                    comment: this.inputComment
                })
                .then(response => {
                    this.inputComment = null;
                    this.showComment = false;
                }).catch(error=>{
                 this.$notify({
                    group: "errors",
                    title: "خطأ",
                    text: error.response.data,
                    type: "error",
                    position: "bottom right"
                });

            });
        },

        async getResult() {
            const response = await axios.get(
                "/api/result/" + this.$route.params.session_id
            );
            this.test = response.data.test;
            this.session = response.data.session;
            this.questions = response.data.session_questions;
            this.showRating = response.data.showRate;
            await this.countPoints();
            this.giveTheResult();
        },
        countPoints() {
            this.marks =
                this.questions
                    .map(el => el.mark)
                    .reduce((x, y) => {
                        return x + y;
                    }) || 0;
            this.percent = Math.trunc((this.marks * 100) / this.questions.length);
            this.points = this.marks / 2;
        },
        giveTheResult() {
            if (this.percent < 50) {
                this.passed = false;
                this.resultText = "لم تنجح في الاختبار:(";
            } else {
                this.passed = true;
                this.resultText = "انجزت الاختبار بنجاح :)";
            }
        },
        rateHover(rate) {
            this.rateHoverIndex = rate;
        },
        async rateTest(rate) {
            this.showRating = !this.showRating;
            const response = await axios.post("/api/rate", {
                test_id: this.test.id,
                rate: rate
            });

            console.log(response);
        }
    },

    created() {
        this.getResult();
    }
};
</script>
