<template>

    <div class="mt-4 container mt-4 d-flex justify-content-center">
        <div class=" col-md-6   col-12  text-right bg-white p-4 ">

            <h2  class="weight300">تغيير كلمة المرور</h2>
            <div class="form-group">
                <label for="">البريد الالكتروني</label>
                <input type="email" class="form-control" v-model="email">
            </div>

            <div class="form-group">
                <ButtonWithSpinner  :click="sendResetToEmail" :spinner="spinner"  text='ارسال' ></ButtonWithSpinner>
            </div>

        </div>
    </div>

</template>

<script>
import ButtonWithSpinner from "../ux-ui/buttons/buttonWithSpinner";
export default{
    components:{ButtonWithSpinner},
    data(){
        return{
            email:null,
            spinner:false
        }
    },
    methods:{
        sendResetToEmail(){
            this.spinner = true;
            axios.post('/api/forgot-password',{
                email:this.email
            }).then(response=> {
                this.successHandler("الرجاء تفقد البريد الالكتروني");
                this.spinner=false;
            }).catch(response=> {
                this.handleError(response.response.data.errors);
                this.spinner=false;
            });
        }
    }

}
</script>
