<style>
.center {
    margin-left: 25%;
}

.bgprimary {
    background: #007bff;
}
</style>

<template>
    <div class="container ">
        <div class="mt-4 d-flex justify-content-center">
            <div class=" col-md-6   col-12    bg-white p-4   rtl text-right ">
                <h1 class="font175 weight300">تسجيل الدخول</h1>

                <div class="form-group">
                    <label for="">البريد الالكتروني</label>
                    <input
                        type="text"
                        placeholder="البريد الالكتروني"
                        v-model="info.email"
                        class="form-control"
                        :class="error.email ? 'is-invalid' : ''"
                    />
                    <div class="invalid-feedback">
                        {{ error.email && error.email.join(" , ") }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="">كلمةالمرور</label>
                    <input
                        type="password"
                        placeholder="كلمة المرور"
                        v-model="info.password"
                        class="form-control"
                        :class="error.password ? 'is-invalid' : ''"
                    />
                    <div class="invalid-feedback">
                        {{ error.password && error.password.join(" , ") }}
                    </div>
                </div>

                <div class="form-group">
                    <input
                        type="submit"
                        value="Login"
                        v-on:click="login"
                        class="btn   text-white testBtn"
                    />
                </div>

                <div>
                    <router-link to="/register"
                    ><a href="">لا تملك حساب؟</a></router-link
                    >
                    <br>
                    <router-link to="/forgot-password"
                    ><a href="">نسيت كلمة المرور؟</a></router-link
                    >
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import {mapGetters, mapActions} from "vuex";

export default {
    methods: {
        ...mapActions("auth", ["setUserData", "sendLoginRequest"]),
        ...mapActions("notifications", ["increaseUnreadNotificationCount", "getUnreadNotificationsCount"]),

        login() {
            this.sendLoginRequest(this.info)
                .then(data => {
                    if (this.$route.query.redirect) {
                        this.$router.push({path: this.$route.query.redirect});
                    } else {
                        this.$router.push({name: "tests"});

                    }
                    this.getUnreadNotificationsCount();

                })
                .catch(error => {
                    this.handleError(error.response.data.errors || error.response.data.error);

                });
        },


    },

    data() {
        return {
            info: {
                email: null,
                password: null
            },
            error: {
                email: null,
                password: null
            }
        };
    }
};
</script>
