<template>
    <div class="container ">
        <div class="mt-4  d-flex justify-content-center">
            <div class="col-md-6 col-12  bg-white p-4   rtl text-right">
                <h1 class="font175 weight300">سجل</h1>

                <div class="form-group">
                    <label for="">الاسم</label>
                    <input
                        type="text"
                        placeholder="الاسم"
                        class="form-control"
                        v-model="info.firstname"
                        :class="error.firstname ? 'is-invalid' : ''"
                    />
                    <div class="invalid-feedback">
                        {{ error.firstname && error.firstname.join(" , ") }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="">العائلة</label>
                    <input
                        type="text"
                        placeholder="العائلة"
                        class="form-control"
                        v-model="info.lastname"
                        :class="error.lastname ? 'is-invalid' : ''"
                    />
                    <div class="invalid-feedback">
                        {{ error.lastname && error.lastname.join(" , ") }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="">البريد الالكتروني</label>
                    <input
                        type="Email"
                        placeholder="البريد الالكتروني"
                        class="form-control"
                        :class="error.email ? 'is-invalid' : ''"
                        v-model="info.email"
                    />
                    <div class="invalid-feedback">
                        {{ error.email && error.email.join(" , ") }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="">كلمة المرور</label>
                    <input
                        type="password"
                        placeholder="كلمة المرور"
                        class="form-control"
                        v-model="info.password"
                        :class="error.password ? 'is-invalid' : ''"
                    />
                    <div class="invalid-feedback">
                        {{ error.password && error.password.join(" , ") }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="">اعادة كلمة المرور </label>
                    <input
                        type="password"
                        placeholder="اعادة كلمة المرور"
                        class="form-control"
                        v-model="info.c_password"
                        :class="error.c_password ? 'is-invalid' : ''"
                    />
                    <div class="invalid-feedback">
                        {{ error.c_password && error.c_password.join(" , ") }}
                    </div>
                </div>

                <div class="form-group">
                    <input
                        type="submit"
                        value="سجل"
                        class="btn testBtn text-white"
                        v-on:click="register"
                    />
                </div>

                 <div>
                     عند تسجيلك الحساب, فأنك توافق على  <router-link to="/policy"  >شروط الاستخدام</router-link>  و  <router-link to="/privacy"  >الخصوصية </router-link >


                </div>

                    <!-- <v-facebook-login app-id="380996976341836"  v-model="model" @sdk-init="handleSdkInit" @login="login"></v-facebook-login> -->


                <div>
                    <router-link to="/login"
                        ><a>يوجد لديك حساب؟</a></router-link
                    >
                </div>
            </div>
        </div>
    </div>
</template>
<script src="https://unpkg.com/vue-facebook-login-component/dist/vueFacebookLoginComponent.umd.min.js"></script>

<script>
import axios from "axios";
import { mapGetters, mapActions } from "vuex";
  import VFacebookLogin from 'vue-facebook-login-component'

export default {
        data() {
        return {
            model:{},
            info: {
                firstname: null,
                lastname: null,
                email: null,
                password: null,
                c_password: null
            },
            error: {
                firstname: null,
                lastname: null,
                email: null,
                password: null,
                c_password: null
            }
        };
    },

    components:{
        VFacebookLogin
    },
    methods: {
        ...mapActions("auth", ["setStatus", "sendRegisterRequest"]),
        register() {
            this.sendRegisterRequest(this.info)
                .then(() => {
                    if (this.$route.query.redirect) {
                        this.$router.push({ path: this.$route.query.redirect });

                    } else {
                        this.$router.push({ name: "tests" });
                    }
                })
                .catch(error => {
                    if (error.response.status == 401) {
                        this.error = { ...error.response.data.error };

                    }
                    this.handleError(error.response.data.errors);

                });
        },
        handleSdkInit({ FB, scope }) {

                FB.init(()=>{
                    FB.login(function(response) {
                        if (response.authResponse) {
                        console.log('Welcome!  Fetching your information.... ');
                        FB.api('/me', function(response) {
                        console.log('Good to see you, ' + response.name + '.');
                        });
                        } else {
                        console.log('User cancelled login or did not fully authorize.');
                        }
                    });
                })

      },
      login(log){
          console.log(log)
      }
    },

};
</script>
