<template>
    <div>

        <div id="paypal-button"></div>

    </div>

</template>

<script>
import axios from "axios";


export default {
    methods: {
        redirect(path) {
            this.$router.push({path: path})
        }
    },
    data() {
        return {
            credentials: {
                sandbox: 'AbaorvF-7IeFAwxLHPeIGz23DkBN5r8CaxXWtmhPx7RDkfWuLPWft5y1XByIvZZIrd96DvQeHzKeo8jg'
            },
        }
    },

    mounted() {
        Vue.loadScript("https://www.paypalobjects.com/api/checkout.js").then(() => {
             paypal.Button.render({
                env: 'sandbox', // Or 'production'

                payment: function (data, actions) {

                    return axios.post('/api/create-payment/',)
                        .then(res =>{
                            console.log(res)
                                    return res.data.id;
                                });
                },
                // Execute the payment:
                // 1. Add an onAuthorize callback
                onAuthorize: function (data, actions) {

                    return axios.post('/api/execute-payment/', data)
                        .then(res =>{
                            console.log(res)
                          alert('success, thank you');
                        });
                }
            }, '#paypal-button');

            console.log('notification mounted');

        });
    }
}
</script>

