<template>
 <div>

             <div class="col-12 ">
                 <div class="text-center"   v-if="tests.length==0">
                     <p for="">لا يوجد </p>
                     <img class="w-25" src="https://www.flaticon.com/svg/static/icons/svg/1450/1450794.svg"  alt="">
                 </div>
                 <div class="row" >
                         <div v-for="test in tests" class="ml-5" :key="test.id">
                                 <test-card :test="test"  ></test-card>    
                         </div>
                 </div>            
            </div>

 </div>
</template>

<script>
 
export default {
    props:['tests','spinner'],
    data(){
        return {
            ProfileTests:[]
         }
    } 
    
 
}
</script>