<template>
<div  class="d-flex" >

    <div class="container">

        <div class="center mt-4">
                            <div class="col-md-8 col-12 border1px  pb-4 pl-3 pr-3 pt-2">
                        <textarea
                            name=""
                            id=""
                            cols="30"
                            class="form-control "
                            rows="5"
                            v-model="inputComment"
                        ></textarea>
                        <div class="text-right">
                            <button class="btn " v-on:click="createComment">
                                علق
                            </button>
                        </div>
                    </div>
        </div>


    </div>
</div>



</template>