<style>
.testCard .image {
    box-shadow: 0 1px 0 0 rgba(232, 233, 235, 0.5);
}

.testCard {
    width: 201px;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
}

.img {
    height: 122px;
    width: 200px;
    object-fit: cover;
}

.checked {
    color: orange;
}

.font10px {
    font-size: 10px
}


.joinerBadge {
    background-color: #007aff;
    color: white
}

.middleBadge {
    background-color: #f0db4f;
    color: black
}

.seniorBadge {
    background: #339;
    background: -webkit-linear-gradient(90deg, #339, #f0c);
    background: linear-gradient(90deg, #339, #f0c);
    color: white
}
</style>

<template>

    <div class="testCard ">
        <a style="text-decoration:none;color:black" :href="ad.link">

            <div class=" mb-5 border">
                <div class="image">
                    <img v-bind:src="ad.image" class="img"/>
                </div>

                <div class="p-2">

                    <h3 class="font11 weight300 text-right">
                        <span>{{ad.title}}</span>
                    </h3>

                    <div class="">

                        <span class="badge ranbow_badge text-light">  اعلان  </span>
                        <span class="badge badge-warning text-dark">ads</span>
                        <span class="badge badge-danger text-light">$1</span>

                    </div>

                    <div class="form-inline">

                    </div>


                </div>
            </div>
        </a>
    </div>
</template>

<script>
export default {

    props: ['ad'],
    data() {
        return {}
    }
}
</script>
