<template>
    <div>
        <li class="nav-item dropdown   " v-if="getUser">
            <a
                class="nav-link  text-light  dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            >
                {{ getUser.firstname }} {{ getUser.lastname }}
            </a>

            <div
                id="dropdownuser"
                class="left-20 dropdown-menu text-right"
                aria-labelledby="navbarDropdownMenuLink"
            >
                <a class="dropdown-item" href="#">
                    <router-link
                        class="text-dark noAstyle"
                        :to="{
                                    name: 'profile',
                                    params: { user_id: getUser.id }
                                }"
                    >الصفحة الشخصية
                    </router-link>
                </a>
                <a class="dropdown-item" href="#">
                    <router-link
                        class="text-dark noAstyle"
                        to="/add/test"
                    >
                        أكتب اختبارك
                    </router-link>
                </a>

                <a class="dropdown-item" href="#">
                    <router-link
                        class="text-dark noAstyle"
                        :to="{
                                    name:'wallet'
                            }"
                    >رصيدك $
                    </router-link>
                </a>

                <a class="dropdown-item" href="#">
                    <router-link
                        class="text-dark noAstyle"
                        :to="{
                                    name:'purchases'
                            }"
                    >مشترياتك $
                    </router-link>
                </a>

                <a class="dropdown-item pointer" v-on:click="logout"
                >تسجيل الخروج</a
                >
            </div>
        </li>
        <li class="nav-item" v-else>
            <router-link to="/login">
                <a class="nav-link text-light" href="#"
                >دخول</a
                ></router-link
            >
        </li>

    </div>
</template>


<script>
import {mapActions, mapGetters} from "vuex";

export default{

    computed: {
        ...mapGetters("auth", ["getUser"]),
    },



    methods: {
        ...mapActions("auth", ["setStatus", "sendLogoutRequest"]),

        logout() {
            this.sendLogoutRequest().then(() => {
                this.$router.push("/");
            });
        }
    },
}
</script>
