<template>

        <li class="nav-item dropdown   " v-if="getUser">
            <a
                class="nav-link  text-light  "
                href="#"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                @click="getNotifications"
            >
                <span v-if="getNotificationCount" class="badge badge-danger">{{getNotificationCount}}</span>
                <i class="fas fa-bell"></i>

            </a>


            <div
                id="dropdownuser"
                class="  dropdown-menu   newNotification"
                aria-labelledby="navbarDropdownMenuLink"
            >

                <div   v-for="notification in notifications"  class="notificationElement"  >
                    <router-link
                        class="noAstyle "
                        :to="{
                                    path:notification.data.link
                            }"
                    >
                        <div class="p-3 text-dark text-right">
                            <span :class="[notification.span ? notification.span  : 'fas fa-bell' ]"></span>
                            <span>{{notification.data.message}}</span>
                            <div><small>{{notification.created_at}}</small></div>
                        </div>

                    </router-link>
                </div>

                <div v-if="!notifications.length" class="notificationElement p-3 text-dark text-center pointer">
                            <span  >
                                لا يوجد
                            </span>
                </div>



            </div>
        </li>
    <!--                <div class="" >-->
    <!--                    <div>-->
    <!--                        <div class="pointer" @click="showNotification=!showNotification" v-on:click="getNotifications">-->
    <!--                            <span class="fas fa-bell"></span>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="bg-white newNotification pointer" v-if="showNotification">-->
    <!--                        <div v-for="notification in notifications" class="p-3 text-dark text-right notificationElement">-->
    <!--                            <router-link-->
    <!--                            class="noAstyle"-->
    <!--                            :to="{-->
    <!--                                    path:notification.data.link-->
    <!--                            }"-->
    <!--                            >-->
    <!--                                <div v-on:click="showNotification=false">-->
    <!--                                <span class="fas fa-bell"></span>-->
    <!--                                 <span>{{notification.data.message}}</span>-->
    <!--                                 <div><small>{{notification.created_at}}</small></div>-->
    <!--                                </div>-->
    <!--                            </router-link>-->
    <!--                        </div>-->
    <!--                        -->
    <!--                    </div>-->


    <!--                </div>-->

</template>

<script>
import {mapGetters, mapActions} from "vuex";

export default {
    data() {
        return {
            dropDown: false,
            notifications: [],
            showNotification:false,
            drawer: false,

        }
    },

    computed: {
        ...mapGetters("auth", ["getUser"]),
        ...mapGetters("notifications", ["getNotificationCount"])
    },

    methods: {
        ...mapActions("auth", ["setStatus", "sendLogoutRequest"]),
        ...mapActions("notifications", ["resetNotificationsCount"]),
        getNotifications() {
            axios.get('/api/notifications').then(res => {
                this.notifications = res.data.data;
                this.resetNotificationsCount();
            });
        },
    }


    }
</script>
