<style>



.listElement:hover {
    background-color: #eaeaea47
}
</style>

<template>

<div>
    <div v-if="getUser">
        <b-a  v-b-toggle.sidebar-backdrop>{{getUser.firstname}} {{getUser.lastname}}</b-a>

        <b-sidebar
            id="sidebar-backdrop"
            right
            backdrop
            shadow>

            <div class="text-center">
                <img class="avatar_image border" :src=" getUser.image || '/logo/logo.png'" alt="">

            </div>

        <div class="text-center">
            {{getUser.firstname}} {{getUser.lastname}}
        </div>
            <hr>

            <div class="text-right ">

                <router-link
                    class="text-dark noAstyle "
                    :to="{
                                    name: 'profile',
                                    params: { user_id: getUser.id }
                                }" >
                    <div class="p-3 rtl listElement ">
                        الصفحة الشخصية
                    </div>

                </router-link>

                <router-link
                    class="text-dark noAstyle "
                    to="/add/test" >
                    <div class="p-3 rtl listElement">
                        أكتب اختبارك
                    </div>

                </router-link>


                <router-link
                    class="text-dark noAstyle "
                    :to="{
                                    name:'wallet'
                            }" >
                    <div class="p-3 rtl listElement ">
                        رصيدك
                    </div>

                </router-link>

                <router-link
                    class="text-dark noAstyle "
                    :to="{
                                    name:'purchases'
                            }" >
                    <div class="p-3 rtl listElement">
                        مشترياتك
                    </div>

                </router-link>

                <a  v-on:click="logout" class="pointer listElemen noAstyle" >
                    <div class="p-3 rtl listElement">
                        تسجيل الخروج
                    </div>

                </a>


            </div>



        </b-sidebar>

    </div>

    <div v-else>
        <router-link to="/login" class="pointer text-white   noAstyle">  دخول</router-link>
    </div>

</div>
</template>


<script>
import {mapActions, mapGetters} from "vuex";

export default{

    computed: {
        ...mapGetters("auth", ["getUser"]),
    },



    methods: {
        ...mapActions("auth", ["setStatus", "sendLogoutRequest"]),

        logout() {
            this.sendLogoutRequest().then(() => {
                this.$router.push("/");
            });
        }
    },
}



</script>
