<style scoped>
.iframe{
width: 560px;
}

@media (min-width: 481px) and (max-width: 767px) {
  
 .iframe{
width: 355px;
}

  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
.iframe{
width: 355px;
}

  
}
</style>

<template>
<div>


<div id="line"></div>


<section id="bestRating">
	
<h3 class="font175 weight300 text-center pt-4 text-light">الافضل في الموقع</h3>


<hr>



<div class="container">
	<div class="row">
			<bestRating :category="Object.keys(bestIn30Days)[0]" :users="Object.values(bestIn30Days)[0]" ></bestRating>
			<!-- <bestRating></bestRating> -->

		<div class="col-sm pt-5 pt-md-0">
			<iframe class="float-right iframe"   height="315" :src="youtube_home_video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>

	
</div>
 


<footer>

 

</footer>

 </section>


<section class="mt-1">
	<div class="text-center mt-5 mb-5">
		<div class="text-center ">
			<!-- <p class="weight300 ">ادعمونا</p> -->
			<router-link :to="{name:'callus'}"><p class="weight300 ">اتصل بنا</p></router-link>

			<a href="https://www.facebook.com/QuizzHunter-108680474386205"><i class="fab fa-facebook-square h1"></i></a> 
			<a href="https://www.youtube.com/channel/UCq-vQVFzxGte3MRXHJjh4NQ?view_as=subscriber"><i class="fab fa-youtube-square h1 text-danger"></i></a>


	 
		</div>
	</div>

</section>

</div> 


</template>
  <script>
import Axios from 'axios'
  import bestRating from './footer-component/BestRating'
export default {

	data(){
		return {
			bestIn30Days:[],
			youtube_home_video:null
		}
	},


	components:{
		bestRating
	},

	methods:{
		async getSettings(){

		const response  = await Axios.get('/api/settings');
		this.youtube_home_video= response.data.youtube_home_video;

		},
		
		async getRankedUsers(){
		const response  = await Axios.get('/api/tests/bestHomePage');
		this.bestIn30Days= response.data;

	}
	},
	created(){
		this.getRankedUsers()
		this.getSettings()
	}
 
}
  </script>
 