<style>
.codeBackground {
    background-color: #00000040;
    border-radius: 6px;
}

.codeText {
    color: #e83e8c;
}

.functionColor {
    color: #61aeee;
}

.rtl {
    direction: rtl;
}

.width100 {
    width: 140px;
}

.buttonTry {
    align-items: center;
    background-color: #009c6b;
    color: #fff;
    cursor: pointer;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    word-spacing: -3px;
    text-align: center;
    line-height: 1.2;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    font-weight: 300;
    font-size: 1.2em;
    border-radius: 2px;
    box-shadow: 0 4px 12px rgba(77, 186, 151, .5)
}

.padding {
    padding: 1em 2.15em;

}

.margin {
    margin: 1em 2.15em;

}

.buttonAreyouTeacher {
    background-color: #0000004f;
}

#welcomeContent {
    padding-top: 150px;
}

#welcome {

    min-height: 450px;
}
</style>


<style scoped>
@media (min-width: 481px) and (max-width: 767px) {
    #welcome {

        min-height: 556px;
    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    #welcome {

        min-height: 556px;
    }
}
</style>
<template>

    <div>

        <section id="welcome">
            <div class="container pt-md-5">
                <div id="welcomeContent" class="pt-md-5 pt-1">
                    <div class="row  text-light">
                        <div class="col-12 col-sm-6">

<pre
 class="  text-light text-left codeBackground"
 ><code class="">
         <span class="codeText">def</span> <span class="functionColor">Fibonacci</span>(n):
                 <span class="codeText">if</span> n <=0:
         <span class="codeText">elif</span> n==1:
                <span class="codeText">return</span> 0
         <span class="codeText">elif</span> n==2:
                 <span class="codeText">return</span> 1
         <span class="codeText">else</span>:
                  <span class="codeText">return</span> Fibonacci(n-1)+Fibonacci(n-2)
            print(Fibonacci(9))
</code>
</pre>

                         </div>

                        <div class="col-12 col-sm-6 text-right">

                            <div class="col-12">
                                <h4 class="font175 weight300 ">
                                    أدعم صانعي المحتوى
                                </h4>
                                    <h4 class="font11 weight300">
                                        افضل طريقة لدعم صانع المحتوى المفضل لديك, والتدريب على الاختبارات
                                </h4>

                            </div>


                            <div class=" row float-right mb-5">
                                <div class="mt-5  col-12  col-lg-6">
                                    <router-link
                                        style="text-decoration: none;"
                                        :to="{name:'fortestcreators'}">
                                        <span
                                            class="    buttonTry padding buttonAreyouTeacher rtl">هل انت صانع محتوى؟</span>
                                    </router-link>
                                </div>


                                <div class="mt-5  col-12 col-lg-6">
                                    <router-link
                                        style="text-decoration: none;"
                                        :to="{name:'tests'}">
                                        <span class="buttonTry padding">تصفح الاختبارات</span>
                                    </router-link>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <div id="line"></div>

        <section class="about ">
            <div>
                <h3 class="text-center rtl  pt-5 font175 weight300 generalfont">
                    ماهو الـ QuizzHunter؟
                </h3>

                <div class="container mt-5">
                    <div class="row">

                        <div class="col-lg-6 text-center rtl">
                            <img
                                class="width100"
                                src="https://www.flaticon.com/svg/static/icons/svg/1328/1328246.svg"
                                alt=""
                            />
                            <p class="font11 weight300 generalfont">
                                يعتمد quizzhunter على صانعي المحتوى, اي انك تستطيع انشاء اختبارات مدفوعة, ومشاركتها مع متابعيك

                            </p>
                        </div>


                        <div class="col-lg-6 text-center">
                            <img
                                class="width100"
                                src="https://www.flaticon.com/svg/static/icons/svg/3400/3400705.svg"
                                alt=""
                            />
                            <p class="font11 weight300 generalfont">
                                هي منصة هادفة إلى تطوير ودعم المحتوى العربي وتحسينه من خلال اختبارات يتم وضعها من قبل صانعي المحتوى التعليمي
                            </p>
                        </div>


                    </div>
                </div>
            </div>


            <div>
                <h3 class="text-center rtl  pt-5 font175 weight300 generalfont">
                    لمن موجه الـ QuizzHunter؟
                </h3>

                <div class="container mt-5">
                    <div class="row">

                        <div class="col-lg-6 text-center rtl">
                            <img
                                class="width100"
                                src="https://www.flaticon.com/svg/static/icons/svg/3135/3135682.svg"
                                alt=""
                            />
                            <p class="font11 weight300 generalfont">
                                موجه للـ HR في الشركات التي تبحث عن موظفين, يوفر Quizzhunter بيانات جلسات الاختبار
                                للشركات واحصائات عامة, لتحسين انتقاء الموظفين
                            </p>
                        </div>


                        <div class="col-lg-6 text-center">
                            <img
                                class="width100"
                                src="https://www.flaticon.com/svg/static/icons/svg/2463/2463510.svg"
                                alt=""
                            />
                            <p class="font11 weight300 generalfont">
                                موجه لمجتمع المبرمجين الباحثين عن العمل أو المصممين لتحسين الخبرة في المجالات العديدة
                            </p>
                        </div>


                    </div>
                </div>
            </div>


            <div class="mb-5">
                <h3 class="text-center pt-5 font175 weight300 generalfont">
                    ابدأ من هنا
                </h3>
            </div>

            <div class="container pt-5  ">
                <div class="row">
                    <!-- ml-4  -->
                    <div class=" ml-md-4  ml-0" v-for="test in bestfive" :key="test.id">
                        <test-card class="centerCards" :test="test"></test-card>
                    </div>

                </div>
            </div>
        </section>

        <footer-view></footer-view>
    </div>

</template>

<script>
import axios from "axios";


export default {

    data() {
        return {
            program: `
	def Fibonacci(n):
		if n<=0:
		elif n==1:
			return 0
		elif n==2:
			return 1
		else:
			return Fibonacci(n-1)+Fibonacci(n-2)
		print(Fibonacci(9))
	`,
            bestfive:[]

        };
    },
    methods: {
        encodeWhiteSpaces(str) {
            return str
                .split("")
                .map(function (c) {
                    if (c === " ") return "&nbsp;";
                    else return c;
                })
                .join("");
        },
        async getBestfiveTests() {
            const response = await axios.get(
                "/api/tests/bestfive"
            );
            this.bestfive = response.data;
            console.log(this.bestfive);
        },
        writeCode() {
            this.intervalTyping = setInterval(() => {
                let word = this.program[this.index++];
                if (this.typing.length == this.program.length) {
                    clearInterval(this.intervalTyping);
                } else {
                    this.typing += word;
                }
            }, 20);
        }
    },
    mounted() {
        //  this.writeCode();
        this.getBestfiveTests();
    }

};
</script>
