<style scoped>
.stickyform {
    top: 0;
    position: sticky;
    z-index: 1020;
}
</style>
<template>
    <div class="container ">
        <div class="row mt-5">
            <div class="col-md-4  col-12 sticky-top float-right mb-4">
                <div class="bg-white p-3 border stickyform ">
                    <div class="form-group">
                        <select

                            class="form-control"
                            v-model="search.level"
                            @change="filter"
                        >
                            <option disabled selected value="null"
                            >Level
                            </option
                            >
                            <option
                                value=""
                                v-for="level in getLevels"
                                :key="level.id"
                                v-bind:value="level.id"
                            >{{ level.level }}
                            </option
                            >
                        </select>
                    </div>
                    <div class="form-group">
                        <select
                            class="form-control"
                            v-model="search.category"
                            @change="filter"
                        >
                            <option disabled selected value="null"
                            >Category
                            </option
                            >

                            <option
                                v-for="category in getCategories"
                                :key="category.id"
                                :value="category.id"
                                v-bind:value="category.id"
                            >{{ category.category }}
                            </option
                            >
                        </select>
                    </div>
                    <div
                        v-if="$route.query.level || $route.query.category"
                        class="text-center"
                        @click="cleanFilterAndGetTestsAgain"
                    >
                        <button class="btn buttonTry">تنظيف الفلتر</button>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-12 float-left">
                <div class="row">

<!--                    <div v-for="ad in ads" :key="ad.id">-->
<!--                        <div class="ml-md-5 ml-0" >-->
<!--                            <adCart  :ad="ad"  ></adCart>-->
<!--                        </div>-->
<!--                    </div>-->



                    <div v-for="element in ads" :key="element.created_at">

                        <div   class="ml-md-5 ml-0" >
                            <adCart class="centerCards" :ad="element" :key="element.created_at" ></adCart>
                        </div>

                    </div>
                    <div v-for="element in tests" :key="element.created_at">

                        <div   class="ml-md-5 ml-0"  >
                            <test-card  class="centerCards" :test="element" :key="element.created_at"></test-card>
                        </div>

                    </div>


                </div>




                <div v-if="page!==lastPage&!spinner" @click="getAllTests" class="bg-gray p-2 pointer">
                    <p class="text-center weight300 ">اظهار المزيد</p>
                </div>
                <div v-if="notfound" class="mt-4  rtl font175 weight300">
                    <p class="text-center">لا يوجد نتائج 🥺🔍</p>
                </div>

                <div v-if="spinner" class="text-center mt-2  ">
                    <div class="spinner-grow" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</template>
<script>
import axios from "axios";
import {mapGetters, mapActions} from "vuex";
import adCart from "./ads/components/adCart";

export default {
    components:{adCart},

    data() {
        return {
            tests: [],
            testAds:[],
            ads:[],
            search: {
                level: null,
                category: null
            },
            query: null,
            spinner: false,
            notfound: false,
            getAllTestsApi:
                `/api/tests?filter[level]=
                ${this.$route.query.level ?? ''}
                &filter[category]=
                ${this.$route.query.category ?? ''}`,
            page: 1,
            lastPage: 0,
        };
    },
    methods: {
        ...mapActions("categories", ["getHttpCategories"]),
        ...mapActions("levels", ["getHttpLevels"]),


        getAllTests() {
            this.spinner = true;
            this.addQueryToUrl();
            let url = `/api/tests?
             filter[level]=${this.$route.query.level ?? ''}
             &filter[category]=${this.$route.query.category ?? ''}
             &page=${this.page}`;
            axios
                .get(url)
                .then(response => {
                    this.setPage(response.data.last_page, response.data.current_page);
                    this.tests = this.tests.concat(response.data.data);
                    // this.testAds.push(...this.tests);
                    this.spinner = false;
                    if (this.tests.length <= 0) {
                        this.notfound = true;
                    } else {
                        this.notfound = false;
                    }

                });
        },

        getAllAds() {

            axios
                .get("/api/ads/paginate")
                .then(response => {
                    this.ads = response.data.data;
                    // this.testAds.unshift(...this.ads);
                    // this.ads.forEach((ad)=>{
                    //     this.testAds.splice(ad.position || 2, 0, ad);
                    //
                    // })
                    // console.log(this.testAds);
                });
        },

        setPage(lastPage, currentPage) {
            this.page = lastPage > currentPage ? currentPage + 1 : currentPage;
            this.lastPage = lastPage;
        },
        addQueryToUrl() {
            if (this.search.category) {
                this.$router.push({
                    path: "tests",
                    query: {
                        ...this.$route.query,
                        category: this.search.category
                    }
                });
            }
            if (this.search.level) {
                this.$router.push({
                    path: "tests",
                    query: {...this.$route.query, level: this.search.level}
                });
            }
        },
        filter() {
            this.tests = [];
            this.page = 1;
            this.lastPage = 0;
            this.getAllTests();
        },
        cleanFilterAndGetTestsAgain() {
            this.$router.push({path: "tests"});
            this.search = {
                level: null,
                category: null
            };
            this.page = 1;
            this.lastPage = 0;
            this.tests = [];
            this.getAllTests();
        }
    },
    computed: {
        ...mapGetters("categories", ["getCategories"]),
        ...mapGetters("levels", ["getLevels"])
    },

    mounted() {
        this.getHttpCategories();
        this.getHttpLevels();
        this.getAllTests();
        this.getAllAds();

    },

};
</script>
