<template>
         <ul class="navbar-nav">
                    <li class="nav-item active textwhite">
                        <router-link style="text-decoration:none" to="/tests">
                            <a
                                class="nav-link text-light hoverBackGround "
                                href="#"
                                >الأختبارات</a
                            ></router-link
                        >
                    </li>

                    <li class="nav-item" v-if="getUser">
                        <router-link style="text-decoration:none" to="/coin">
                            <span class="nav-link text-light hoverBackGround"
                                >QC: {{ getUser.coin }}</span
                            >
                        </router-link>
                    </li>
                </ul>
</template>


<script>
import { mapGetters, mapActions } from "vuex";
export default {
      computed: {
        ...mapGetters("auth", ["getUser"])
    },

}
</script>