<template>
              <router-link to="/">
                <a class="navbar-brand text-light">
                    <span>QH</span>
                    <span class="badge badge-danger text-white">HR</span>
                </a>
            </router-link>
</template>