<style>
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.view {
    display: block;
}

.thumbnail {
    width: 20px;
}

.noAstyle {
    text-decoration: none;
    color: black;
}

/* :not(#dropdownuser) {
    left: 0;
} */
.dropdownRight {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;

    float: right;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: right;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.left-20 {
    left: -30px;
}

.textwhite {
    color: white;
}

/* .hoverBackGround  {
    background: #191c20;
} */

.hoverBackGround:hover {
    background: #191c20;
}

.newNotification {
    position: absolute;
    z-index: 1039;
    max-height: 300px;
    overflow-y: scroll;
    max-width: 300px;
    width: 300px;
    right: 0;
}

.notificationElement:hover {
    background-color: #eaeaea47
}
</style>
<template>
    <div class="">

        <nav
            id="navbar"
            class="navbar navbar-expand-lg navbar-light text-white "
        >

            <router-link to="/">
                <a class="navbar-brand text-light">
                    <span>QH</span>
                    <span class="badge badge-danger text-white">beta</span>
                </a>
            </router-link>

            <button
                class="navbar-toggler "
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse  " id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active textwhite">
                        <router-link style="text-decoration:none" to="/tests">
                            <a
                                class="nav-link text-light hoverBackGround "
                                href="#"
                            >الأختبارات</a
                            ></router-link
                        >
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse rtl  " id="navbarNavDropdown">
                <!--sidebar-->
                <Sidebar></Sidebar>
                <!--  notifications-->
                <Notifications></Notifications>
            </div>
        </nav>

    </div>


</template>

<script>
import ClickOutside from "vue-click-outside";
import Notifications from "./components/Notifications";
import DropDown from "./components/DropDown";
import Sidebar from "./components/Sidebar";

export default {

    components: {Notifications, DropDown, Sidebar},

    data() {
        return {
            dropDown: false,
            notifications: [],
            showNotification: false,
            drawer: false,


        }
    },


    directives: {
        ClickOutside
    }
};
</script>
