<template>

	<div class="col-sm bestRatingColor m-1">
			 
			 <span class="text-center badge badge-warning text-dark">{{category}}</span>
			 <hr>
			  
			<ul v-for="(user,index) in users" class="text-light form-inline row" >
				
				<li class="col-2">{{medals[index] || '.'}}</li>
				<li class="col-6">{{user.firstname}}{{user.lastname}}</li>
				<li class="col-4">{{user.totalPoints}}</li>
	
			</ul>
 
		 
		</div>
</template>
<script lang="ts">

export default {
props:['users','category'],
data(){
	return{
		medals:['🥇','🥈','🥉',4,5]
	}
}
}
</script>