<style>
.codeTextArea {
    background-color: #2b3137;
    color: white;
}

.btnSuccess {
    background-color: #009c6b;
    color: #fff;
}
</style>

<template>
    <div class="container mt-2 ">
        <h2 class="lightfont text-right">الأختبار</h2>
        <div class="bg-white  form-inline p-3 shadowBox mb-2">

            <li class="col-3">{{ test.category.category }}</li>
            <li class="col-2">{{ test.level.level }}</li>
            <li class="col-3">{{ test.created_at }}</li>
            <li class="col-2">{{ test.second_per_question }}s</li>
            <li class="col-2">
                <button v-on:click="testForm =!testForm" class="btn testBtn"> تعديل التفاصيل</button>
            </li>
        </div>
        <transition name="fade">

            <div v-if="testForm">
                <TestForm :details="editTestForm"
                          :postFunction="patchTest"
                          error="{}"
                ></TestForm>
            </div>
        </transition>
        <div id="add" class="shadowBox p-3 text-right" ref="addQuestionRef">
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <h2 class="lightfont">أضف كود</h2>

                    <textarea
                        name=""
                        cols="30"
                        rows="3"
                        class="form-control codeTextArea"
                        placeholder="//هنا تستطيع كتابة كود , يمكنك تركه فارغا"
                        v-model="form.code"
                    >
                    </textarea>
                </div>

                <div class="form-group col-md-6 col-12">
                    <h2 class="lightfont">أضف سؤالا</h2>

                    <textarea
                        name=""
                        cols="30"
                        rows="3"
                        class="form-control  rtl"
                        placeholder="مثال: ماهو الوسم الخاص بجسم الصفحة في html"
                        v-model="form.question"
                    ></textarea>
                </div>
            </div>

            <div>
                <button
                    class="btn btnSuccess"
                    v-on:click="showExplanation = !showExplanation"
                >
                    اضافة شرح للسؤال
                </button>
            </div>

            <textarea
                v-if="showExplanation"
                name=""
                cols="30"
                rows="3"
                class="form-control  rtl"
                placeholder=" (يظهر بعد الاختبار) اكتب شرحا عن الاجابة, تستطيع تركها فارغة "
                v-model="form.explanation"
            ></textarea>

            <h3 class="lightfont">الأجوبة</h3>
            <div class="form-group  ">
                <input
                    type="text"
                    class="form-control"
                    v-model="dataHandler.answer"
                />

                <div class="text-right pt-2">
                    <button class="btn btnSuccess" v-on:click="addAnswer">
                        اضف جواب
                    </button>
                </div>
            </div>
            <p class="text-secondary">اضغط على الاجابة الصحيحة</p>

            <div
                class=" p-3 shadowBox mb-2 pointer"
                v-for="answer in form.answers"
                :key="answer.id"
                :class="answer.correct ? 'correct' : 'incorrect'"
                @click="answer.correct = !answer.correct"
            >
                <div class="row  rtl">
                    <li class="col-8">{{ answer.answer }}</li>

                    <li class="col-4 text-left ">
                        الأجابة الصحيحة؟
                        <input
                            type="checkbox"
                            class="mr-2"
                            v-model="answer.correct"
                        />
                        <span
                            v-if="!test.published"
                            class="badge badge-danger pointer "
                            v-on:click="removeAnswer(answer)"
                        >X</span
                        >
                    </li>
                </div>
            </div>

            <div class="text-left" v-if="!form.created_at">
                <button class="btn btnSuccess" v-on:click="createQuestion">
                    أنشاء سؤال
                </button>
            </div>
            <div class="text-left" v-else>
                <button class="btn btnSuccess" v-on:click="patchQuestion">
                    عدل
                </button>
                <button class="btn  " v-on:click="clearFormData">
                    الغاء
                </button>
            </div>
        </div>

        <div id="createdQuestions" class="">
            <div
                class="mt-3"
                v-for="(question, index) in questions"
                :key="question.id"
            >
                <div class="   shadowBox   answer">
                    <div class="p-4 font11">
                        <b>#{{ index + 1 }} {{ question.question }}</b>
                        <div class="float-right">
                            <b
                            ><span
                                class="btn btn-danger"
                                v-on:click="
                                        deleteQuestion(question.id, index)
                                    "
                            >حذف</span
                            ></b
                            >
                            <b
                            ><span
                                class="btn   "
                                v-on:click="
                                        editQuestion(question.id, index)
                                    "
                            >عدل</span
                            ></b
                            >
                        </div>
                    </div>
                </div>
                <div>
                    <div class="code " v-if="question.code">
                        <pre><p class="text-white p-3">{{ question.code }}</p></pre>
                    </div>
                </div>
                <div
                    class="   shadowBox answer db-light "
                    v-for="answer in question.answers"
                    :key="answer.id"
                    :class="answer.correct ? 'correct' : 'incorrect'"
                >
                    <div class="p-4 ">{{ answer.answer }}</div>
                </div>
            </div>
        </div>

        <hr/>

        <div>
            <div class="form-group">
                <div class="text-left pt-2">
                    <button class="btn btnSuccess" v-on:click="publishTest">
                        أطلق الاختبار
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import TestForm from "../test/components/testForm";

export default {
    props: ["test_id"],
    components: {
        TestForm
    },
    data() {
        return {
            form: {
                question: null,
                code: null,
                answers: [],
                explanation: null
            },
            editTestForm: {},
            showExplanation: false,
            dataHandler: {
                answer: null
            },
            questions: [],
            test: {
                category: {category: null},
                level: null
            },
            testForm: false,
            addQuestionRef: null
        };
    },
    methods: {


        patchTest(data) {
            axios.patch('/api/tests/' + this.test.id, {...data, user_id: 2})
                .then(res => {
                    this.successHandler("تم تعديل الاختبار بنجاح");
                    this.testForm = false;
                }).catch(response => {
                this.handleError(response.response.data.errors);
            });
        },

        createQuestion() {
            axios
                .post("/api/questions", {
                    question: this.form.question,
                    explanation: this.form.explanation,
                    code: this.form.code,
                    answers: this.form.answers,
                    test_id: this.$route.params.test_id
                })
                .then(response => {

                    this.addQuestion(response.data[0]);
                    this.clearFormData();

                }).catch(response => {
                this.handleError(response.response.data.errors);

            });
        },
        patchQuestion() {

            if (!this.form.created_at) {
                return false;
            }

            axios
                .patch("/api/questions/" + this.form.id, {
                    question: this.form.question,
                    explanation: this.form.explanation,
                    code: this.form.code,
                    answers: this.form.answers,
                    test_id: this.$route.params.test_id
                })
                .then(response => {

                    this.replaceQuestion(response.data, this.form.index);
                    this.clearFormData();
                    this.successHandler("تم تعديل السؤال بنجاح");


                }).catch(response => {
                this.handleError(response.response.data.errors);

            });
        },
        clearFormData() {
            this.form = {
                question: null,
                code: null,
                answers: []
            };
        },
        addAnswer() {
            if (!this.dataHandler.answer) {
                return false;
            }
            this.form.answers.push({
                answer: this.dataHandler.answer,
                correct: false,
                id: this.form.answers.length
            });
            this.dataHandler.answer = null;
            this.dataHandler.correct = false;
        },
        addQuestion(question) {
            this.questions.unshift(question);
        },
        replaceQuestion(question, index) {
            this.questions[index] = question;
        },
        removeAnswer(answer) {
            let index = this.form.answers.indexOf(answer);
            this.form.answers.splice(index, 1);
        },
        deleteQuestion(question_id, index) {
            axios
                .delete("/api/questions/delete/" + question_id)
                .then(response => {
                    this.questions.splice(index, 1);
                    this.successHandler('تم حذف السؤال')
                }).catch(response => {
                this.handleError(response.response.data.errors);

            });
            ;
        },
        editQuestion(question_id, index) {
            this.form = {...this.questions[index], index};
            this.scrollToTop();
            this.testForm=false;
        },

        getTest() {
            axios
                .get(
                    "/api/tests/getTestsById/" + this.$route.params.test_id
                )
                .then(response => {
                    console.log(response.data);
                    this.test = response.data[0];
                    this.editTestForm = {...this.test, level: this.test.level.id, category: this.test.category.id};
                    this.questions = this.test.questions;
                }).catch(response => {
                this.handleError(response.response.data.errors);

            });
            ;
        },
        publishTest() {
            axios
                .patch("/api/tests/publish/" + this.$route.params.test_id)
                .then(response => {

                    this.$router.push({
                        name: "test",
                        params: {test_id: this.$route.params.test_id}
                    });

                }).catch((response) => {
                this.handleError(response.response.data.errors);

            });
        },
        scrollToTop(refrence = 0) {
            console.log(refrence);
            window.scrollTo(0, refrence);
        }



    },
    mounted() {

        this.getTest();
    }
};
</script>
