<template>
    <div class="container">
        <div class="mt-5">
            <h2 class="text-right">المشتريات</h2>
        </div>

        <div class="mt-2">
            <div
                class="bg-white  form-inline p-3 shadowBox mb-2"
                v-for="deposit in deposits"
                :key="deposit.id">
                <li class="col-md-4 col-5">
                    {{ deposit.status }}
                </li>

                <li class="col-md-4 col-2">
                    {{ deposit.amount }}$
                </li>

                <li class="col-md-4 col-5">
                    <router-link :to="{name:'test',params:{test_id:deposit.reference_id}}">الاختبار</router-link>
                </li>
            </div>
        </div>

        <div v-if="notFound" class="text-center weight300 font175">
            لا يوجد مشتريات
        </div>

    </div>
</template>

<script>
import axios from 'axios';
export default {
    methods: {
        getDeposits(){
            axios.get('/api/deposit').then(response=>{
              this.deposits = response.data.data;

                if(!this.deposits.length){
                      this.notFound=true;
                 }
            })
        }
    },

    data(){
        return {
            deposits:[],
            notFound:false,
        }
    },
    mounted() {
        this.getDeposits();
    }
}
</script>
