<style scoped>
.font200{
        font-size: 200px;

}
</style>

<template>

    <div class="container">
        <div class="text-center">
            <h1 class="font200">404</h1>
            <p>لا يوجد نتائج</p>
        </div>
    </div>

</template>