<template>
    <div class="container">

        <div class="row rtl">

            <div class="col-md-3 col-12 text-center text-md-left mt-5">
                <img
                    class="avatar_image border"
                    :src=" getUser.image || '/logo/logo.png'"
                    alt=""
                />
                <h3 class="weight300 font175">
                    {{ getUser.firstname }} {{ getUser.lastname }}
                </h3>

            </div>

            <div class="col-md-9 col-12   text-md-left mt-5 ">

                <div class="   text-right">
                    <div class='form-group 12'>
                        <lable>البريد الالكتروني</lable>
                        <input type="email" v-model="getUser.email" class="form-control" readonly>
                    </div>

                </div>


                <div class="row  text-right">
                    <div class=' col-6'>
                        <lable>الاسم</lable>
                        <input type="text" v-model="getUser.firstname" class="form-control">
                    </div>
                    <div class='form-group col-6'>
                        <lable>اسم العائلة</lable>
                        <input type="text" v-model="getUser.lastname" class="form-control">
                    </div>
                </div>
                <div>
                    <button class="btn testBtn text-right" @click="editProfile"> تعديل</button>
                </div>
                <div class="text-right">
                    <span class="text-right font175 weight300">بايبال</span>
                    <div class='form-group  '>
                        <lable>بريد سحب الارباح</lable>
                        <input type="email" v-model="wallet.paypal_email" class="form-control">
                    </div>
                </div>

                <div>
                    <button class="btn testBtn text-right" @click="editWallet"> تعديل</button>
                </div>

            </div>


        </div>
    </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {

    computed: {
        ...mapGetters("auth", ["getUser"])
    },
    methods: {
        getWallet() {
            axios.get('api/user/wallet')
                .then((res) => {
                     this.wallet = res.data;
                })
        },
        editWallet(){
            axios.patch('api/user/wallet',this.wallet).then(()=>{
                this.successHandler('تم تعديل بريد بايبال بنجاح')
            });
        },
        editProfile() {
            axios.patch('/api/user/profile', {
                firstname: this.getUser.firstname,
                lastname: this.getUser.lastname,
            }).then(() => {
                this.successHandler('تم تعديل الملف الشخصي');
            }).catch((response) => {
                this.handleError(response.response.data.errors);
            })
        }
    },
    data() {
        return {
            wallet: {},
            profile: {
                firstname: null,
                lastname: null,
            }
        }
    },
    mounted() {
        this.getWallet();
    }
}
</script>
