<template>
    <div class="container">

        <h2 class="text-center mt-2">QuizzHunter coin 🤑</h2>
        <div class="rtl text-right pt-5">
            <h3 class="weight300">ماهو ال QC او الـ quizz coin?</h3>
            <p>-هي العملة الخاصة بالموقع, تم انشائها لتفادي الاختبارات العشوائية</p>
            <p>-يتم اعطاء كل مستخدم كل يوم 20 QC وعند اجتيازك بنجاح اية اختبار , تربح 2.5 QC </p>
            <h3 class="weight300">هل نفذ رصيدك وتحتاج المزيد الان؟</h3>
            <p>-لا تقلق😁, تستطيع ربح المزيد من الـ QC عبر تنفيذ احدى الخطوات التالية :</p>

            <ul>
                <li>1- ابلغ عن ثغرة او مشكلة في الموقع , وراسلنا على صفحتنا على الفيسبوك</li>
                <li>2- انشر الموقع على احدى صفحاتك في مواقع التواصل الاجتماعي او في المجموعات ثم راسلنا على صفحتنا في
                    الفيسبوك
                </li>
                <li>3- اذا كانت لديك خبرة في احدى المجالات البرمجية او التعليمية, انشأ اختبار , وستحصل على QC في حال
                    حصول اختبارك على تقييم عالي
                </li>
            </ul>

        </div>



    </div>


</template>


