<template>
    <div class="bg-white mt-5 p-3 shadowBox text-right rtl">
            <div class="form-group col-12 ">
                <label>الفئة</label>
                <select
                    name=""
                    class="form-control"
                    v-model="details.category"
                    :class="error.category ? 'is-invalid' : ''"

                >
                    <option disabled selected value="null">اختر</option>
                    <option
                        v-for="category in getCategories"
                        value=""
                        :key="category.id"
                        v-bind:value="category.id"
                    >{{ category.category }}
                    </option
                    >
                </select>
                <InvalidFeedback :error="error.category"></InvalidFeedback>

            </div>

            <div class="form-group col-12">
                <label >الصعوبة</label>
                <select
                    name=""
                    class="form-control"
                    v-model="details.level"
                    :class="error.level ? 'is-invalid' : ''"

                >
                    <option disabled selected value="null">اختر</option>
                    <option
                        value=""
                        v-for="level in getLevels"
                        :key="level.id"
                        v-bind:value="level.id"

                    >{{ level.level }}
                    </option
                    >
                </select>
                <InvalidFeedback :error="error.level"></InvalidFeedback>

            </div>

            <div class="form-group col-12">
                <label >عدد الثواني لكل سؤال</label>
                <input
                    type="number"
                    name="seconds"
                    class="form-control "
                    placeholder="for example 20s"
                    v-model="details.second_per_question"
                    :class="error.second_per_question ? 'is-invalid' : ''"

                />
                <InvalidFeedback :error="error.second_per_question"></InvalidFeedback>

            </div>

            <div class="form-group col-12">
                <label >عدد الاسألة لكل جلسة</label>
                <input
                    type="number"
                    name="questions_per_session"
                    class="form-control "
                    placeholder="5 اسألة من اصل 10"
                    v-model="details.questions_per_session"
                    :class="error.questions_per_session ? 'is-invalid' : ''"

                />
                <InvalidFeedback :error="error.questions_per_session"></InvalidFeedback>

            </div>

            <div class="form-group col-12">
                <label >السعر</label>
                <input
                    type="number"
                    name="questions_per_session"
                    class="form-control"
                    placeholder="بالمجان"
                    v-model="details.price"
                    :class="error.price ? 'is-invalid' : ''"

                />

                <InvalidFeedback :error="error.price"></InvalidFeedback>

            </div>

            <div class="form-group col-12 rtl">
                <label >
                    الموضوع (اذا كانت الأسألة عامة, تستطيع ترك العنوان فارغ)
                </label>
                <input
                    type="text"
                    name="title"
                    class="form-control "
                    placeholder=" (لا تذكر لغة لبرمجة, فقط بكلمة واحد اوصف الاسألة) مثلا : المصفوفات"
                    v-model="details.title"
                    :class="error.title ? 'is-invalid' : ''"

                />
                <InvalidFeedback :error="error.title"></InvalidFeedback>

            </div>
            <div class="form-group col-12">
                <label >الشرح</label>
                <textarea
                    name=""
                    cols="30"
                    rows="3"
                    class="form-control "
                    placeholder="هذا الاختبار عبارة عن ...موجه لـ...."
                    v-model="details.description"
                    :class="error.description ? 'is-invalid' : ''"

                ></textarea>
                <InvalidFeedback :error="error.description"></InvalidFeedback>

            </div>
            <div class="form-group">
                <button
                    class="btn btn-danger"
                    v-on:click="showVideo = !showVideo"
                >
                    اضافة فيديو يوتيوب
                    <span><i class="fab fa-youtube"></i></span>
                </button>
            </div>
            <div v-if="showVideo" class="form-group col-12">
                <label >اضف رابط الدرس من قناتك على اليوتيوب</label>
                <input
                    type="text"
                    name="video"
                    class="form-control"
                    placeholder="youtube video"
                    v-model="details.video"
                    :class="error.video ? 'is-invalid' : ''"

                />
                <InvalidFeedback :error="error.video"></InvalidFeedback>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" v-on:click="postFunction(details)">
                    تنفيذ
                </button>
            </div>
        </div>


</template>
<script>
import {mapGetters, mapActions} from "vuex";
import InvalidFeedback from "../../ux-ui/errors/invalid-feedback";

export default {
    components:{
        InvalidFeedback
    },
    props:['details','error','postFunction'],
    methods: {
        ...mapActions("categories", ["getHttpCategories"]),
        ...mapActions("levels", ["getHttpLevels"]),
    },
    computed: {
        ...mapGetters("categories", ["getCategories"]),
        ...mapGetters("levels", ["getLevels"])
    },
    mounted() {

        this.getHttpCategories();
        this.getHttpLevels();
    },
    data(){
        return {
            showVideo: false,

        }
    }
}
</script>
