<template>

    <div class="container text-right">
        <h2>تغيير كلمة المرور</h2>
        <div class="form-group">
            <label for="">كلمة المرور</label>
            <input type="password" class="form-control" v-model="password">
        </div>

        <div class="form-group">
            <label for="">تأكيد كلمة المرور</label>
            <input type="password" class="form-control" v-model="c_password">
        </div>

        <div class="form-group">
            <button @click="resetPasswordServer" class="btn testBtn"> تغيير</button>
        </div>

    </div>

</template>

<script>
export default {
    data() {
        return {
            password: null,
            c_password: null
        }
    },

    methods: {
        resetPasswordServer() {
            axios.post('/api/reset-password', {
                token: this.$route.params.token,
                email: this.$route.query.email,
                password: this.password,
                password_confirmation: this.c_password

            }).then((response) => {
                console.log(response);
                this.successHandler("تم تغيير كلمة المرور");
                this.$router.push({name: "login"});

            }).catch(response => {
                this.handleError(response.response.data.errors);
            });
        }

    },

}
</script>
